<div>
	<h1>Yip!</h1>
	<p>
		<form>
			<textarea name="text"></textarea>
			<input type="submit" value="Submit Yip">
		</form>
	</p>
	
</div>

<div>
	<h1><%= @user.username %> Yipper Profile</h1>
	<div>
	<span>Username: <%= @user.username %></span>
	<p>
		XX Yips
		<span>XX Followers</span>
		<span>XX Following</span>
	</p>
		
	</div>
	
</div>

<div>
	<h1>Your Yips</h1>
	<div>
		Yips to come...
	</div>
	
</div>